<h1>Showing article details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<div>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back to articles listing', articles_path %>

<%= button_to 'Delete', article_path(@article), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %> 
<div>